{% extends "base.html" %} {% block content %}
<main>
  <div>
    <h1>My Tasks</h1>
    {% if task_list|length > 0%}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.start_date}}</td>
          <td>{{task.due_date}}</td>
          <td>{{task.is_completed|yesno}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have no tasks</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
